@import "mixin";
$animationTime: 2s;
$animationType: ease-out;

:export {
  animationTime: $animationTime;
}

.mobile-menu-slide-down-enter, .mobile-menu-slide-down-leave-to {
  transform: translate3d(0, px2rem(40), 0)
}
.mobile-menu-slide-down-enter-to, .mobile-menu-slide-down-leave, .mask-slide-up-enter-to, .mask-slide-up-leave,
.full-page-slide-up-enter-to, .full-page-slide-up-leave {
  transform: translate3d(0, 0, 0)
}
.mobile-menu-slide-down-enter-active, .mobile-menu-slide-down-leave-active, .mask-slide-up-enter-active, 
.mask-slide-up-leave-active, .full-page-slide-up-enter-active, .full-page-slide-up-leave-active, .popup-slide-up-enter-active,
.popup-slide-up-leave-active {
  transition: all $animationTime $animationType;
}
.mask-slide-up-enter, .mask-slide-up-leave-to {
  transform: translate3d(0, -150%, 0)
}
.full-page-slide-up-enter, .full-page-slide-up-leave-to {
  transform: translate3d(0, 100%, 0)
}
.popup-slide-up-enter, .popup-slide-up-leave-to {
  transform: translate3d(0, -100%, 0);
}
.popup-slide-up-enter-to, .popup-slide-up-leave {
  transform: translate3d(0, 0, 0);
}



